.Home{
    
}

.hero{
    @apply bg-[#FBEBB5] pl-[1rem] lg:pl-[12.625rem] flex items-center h-[50rem] lg:h-[56.25rem] relative; 

}
.hero-text-wrapper{
    @apply flex flex-col z-50 w-screen lg:w-auto lg:max-w-[27.5rem] mt-[10rem] lg:mt-0 items-center lg:items-start ;
}
.hero-text1{
    @apply font-medium text-[2.5rem] lg:text-[4rem] lg:leading-[5rem];
}
.hero-text-wrapper  span:last-child{
    @apply text-black text-[1.5rem] font-medium border-2 border-transparent border-b-black pb-[0.8rem] mt-[1.56rem] lg:self-start ;
}
.hero img{
    @apply absolute -top-20    lg:-top-40 right-0 z-10;
}

.table-section{
    @apply flex flex-col lg:flex-row items-center bg-[#f4f4f4] justify-center lg:gap-[1.875rem] pt-[3.18rem] pb-[3.375rem];
}

.table{
    @apply flex flex-col lg:w-[37.81rem] lg:pl-[6.6rem] text-black   ;
}
.table img{
    @apply ml-12 w-[14.37rem] h-[14.37rem] lg:w-auto lg:h-auto ;
}

.table span:first-of-type{
    @apply text-[2.25rem] font-medium  ;
}

.table .view-more{
    @apply text-[1.5rem] font-medium block decoration-transparent pb-[0.8rem] border-2  border-transparent border-b-black mt-[1.43rem];
    width:fit-content;
}

.asgard{
    @apply bg-[#FFF9E5] pt-[3.19rem] pl-[1.56rem] pr-[6.06rem] flex items-center gap-[5.9rem] pb-1;
}

.asgard .asgard-text-wrapper{
   @apply flex flex-col items-center  ;
}

.asgard-text-wrapper span:nth-child(2){

    @apply font-bold text-[3rem];
    
}
.asgard-text-wrapper button{
    @apply mt-[1.4rem] border-[1px] border-black h-[4rem] flex items-center justify-center w-[15.94rem] ;
}

.follow-section{
    @apply py-[7.75rem] flex flex-col items-center justify-center text-black ;
    background-image:url("../assets/coffee.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.follow-section h3{
    @apply font-bold text-[3.75rem] ;
}
.follow-section span{
    @apply font-normal text-xl mb-[1.125rem];
}

.follow-section button {
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.1));
    @apply bg-[#FAF4F4] rounded-[3.125rem] flex items-center justify-center h-[4rem] w-[15.94rem]  ;
        
}

.blog-section{
    @apply flex flex-col bg-white items-center py-[3.44rem] font-medium ;
}

.blog-section .blogs{
    @apply flex items-center gap-[1.94rem]  mt-[4.06rem] mb-[4.8rem] font-light ;
}
.blog-section h3,
.furniture-section h3{
    @apply text-black text-[2.25rem] mb-[0.81rem] ;
}
.blog-section > span:first-of-type,
.furniture-section>span:first-of-type{
    @apply text-myGrey text-base text-center lg:text-start px-4 lg:px-0 ;
}
.blog-section > span:last-of-type,
.furniture-section>span:last-of-type
{
    @apply border-2 border-transparent border-b-black pb-[1.19rem] text-2xl ;
} 

.furniture-section{
    @apply flex flex-col items-center pt-[3.125rem] pb-20 ;
}
.furniture-container{
    @apply grid grid-cols-1 lg:grid-cols-none lg:flex items-center gap-[1.9rem]  mt-[4.06rem] mb-[4.31rem];
}
